@using EmployeeTask.Models.Entities.EmpyoyeeModels;
@model ICollection<EmployeeViewModel>

<h1>Employees</h1>
@foreach(var obj in Model)
{
    <p>@obj.FullName</p>
    @foreach(var meeting in obj.Meetings)
    {
        <p>@meeting.Subject</p>
    }
}