@model MeetingUpdateModel


<form asp-action="UpdateMeetingPost" asp-controller="Meeting" method="post" enctype="multipart/form-data">
    <input hidden asp-for=Id />
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AttendeeIds">Select Attendees</label>
        <select asp-for="AttendeeIds" id="asgSelect">
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
@section Scripts{
    <script>
        var selectid = '#asgSelect';
        SelectEmployees(selectid);
    </script>
}
